#navibar {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Arial;
}

#navbarNavAltMarkup a {
    color: rgba(248.9, 159.1, 28.1, 1);
    margin: 0 20px;
    text-transform: uppercase;
}

#sec2 {
    height: auto;
    background: url('../images/vacations.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

#sec2 img {
    height: 100px;
    width: 100px;
}

#jsec2 {
    height: auto;
    background: url('../images/vacations.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

#jsec2 img {
    height: 100px;
    width: 100px;
}

#csec1 {
    background: url('../images/vacations.jpg') no-repeat center center fixed;
    background-size: cover;
}